nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vW;
  height: 70px;
  border-top: 1px solid var( --color-button-bg-hover);
  color: var(--color-text-primary);
  position: relative;
  margin-top: var(--spacing-base);
  font-family: var(--font-primary);
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-small);
}

li {
  list-style: none;
  position: relative;
  width: 70px;
  height: 75px;
  z-index: 1;
  color: var(--color-text-secondary);
}

.icon {
  display: block;
  position: relative;
  line-height: 70px;
  font-size: var(--font-size-h5);
  text-align: center;
  color: var(--color-text-primary);
  z-index: 2;
  transition: transform 0.5s, color 0.5s;
}

.text {
  position: absolute;
  font: var(--font-primary);
  font-size: var(--font-size-buttons);
  font-weight: 400;
  color: var(--color-text-secondary);
  letter-spacing: 0.05em;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

/* Indicador ativo
.indicater {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: var(--color-link-hover);
  border-radius: 50%;
  border: 6px solid var(--color-background-app);
  transition: transform 0.5s;
  z-index: 0;
} */

/* .indicater::before,
.indicater::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: transparent;
} */

/* .indicater::before {
  left: -22px;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--color-background-app);
}

.indicater::after {
  right: -22px;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--color-background);
}
*/

/* Estado ativo */
/* li.active .icon {
  transform: translateY(-32px);
  color: var(--color-background);
}


/* Indicador: movimentação com base no item ativo */
/* li:nth-child(1).active ~ .indicater {
  transform: translateX(calc(70px * 0));
}
li:nth-child(2).active ~ .indicater {
  transform: translateX(calc(70px * 1));
}
li:nth-child(3).active ~ .indicater {
  transform: translateX(calc(70px * 2));
}
li:nth-child(4).active ~ .indicater {
  transform: translateX(calc(70px * 3));
}
li:nth-child(5).active ~ .indicater {
  transform: translateX(calc(70px * 4));
} */ */
